body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #ffffff;
}

h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1em;
    color: #b0b0b0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
}

table th {
    background-color: #2a2a2a;
}

table td:last-child {
    text-align: center;
}

td a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

td a:nth-child(1) {
    color: #4caf50;
}

td a:nth-child(1):hover {
    color: #388e3c;
    transform: scale(1.2);
}

td a:nth-child(2) {
    color: #f44336;
}

td a:nth-child(2):hover {
    color: #d32f2f;
    transform: scale(1.2);
}

.total {
    font-size: 1.2em;
    color: #ffffff;
}

.add-expense {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #ffa000;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-expense:hover {
    background-color: #ffc561;
}

.button-container {
    display: flex;
    justify-content: center;
}
